body{
    margin: 0px;
    
    font-family: 'Roboto', sans-serif;
}
ul{
    margin-left: 5%;
    padding-left: 2%;
    margin-right: 10%;
    list-style: none;
    height: 36px;
    font-size: 15px;
}
li{
    float: right;
    border-left: 10px solid white;
}
a{
    
    float: left;
    padding: 12px;
    color: rgb(43, 39, 39);
    text-decoration: none;
    font-size: 20px;
    width: 25%; 
}
.wd{
    color: red;
    font-weight: bold;
}
.half-width{
    width: 43%;
    float: left;
    margin-left: 10%;
    padding-left: 5%;
    margin-bottom: 10%;
}
.half-width img{
    width: 60%;
}
.half-width1{
    width: 35%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    margin-bottom: 10%;
}
.name{
    color: rgb(211, 121, 88) ;
}
.p1{
    margin-top: 60px;
    margin-right: 10px;  
    font-size: 20px;   
}
.sec1{
    margin-top: 60px;
    margin-bottom: 20%;
}
.link-bt{
    text-decoration: none;
    background-image: linear-gradient(tomato,lightsalmon);
    padding: 15px 8px;
    border-radius: 5px;
    color: papayawhip;
    font-weight: 700;
    margin-top: 20px;
    text-align: center;
}
h1{
    font-size:35px;
     height:25px;
}
.half-width12{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    margin-top: 60px;
    margin-bottom: 20%;
}
.half-width12 img{
    width: 75%;
}
.ab{
    color: rgb(43, 38, 38);
    
}
.p{
    color: firebrick;
}


.cards{
    width:25% ;
    height: 20%;
    
    border: 2px solid whitesmoke;
    margin: 2px ;
    
    border-image: linear-gradient(180deg,rgb(231, 229, 228),rgb(245, 245, 242));
    border-image-slice: 1;
    border-radius: 10%;
    float: left;
    margin-right: 30px ;
    padding-right: 30px;
    padding-left: 37px;
   
    
}
.image img{
    width: 100%;


}
.title{
    text-align: center;
    color:rgb(25,25,112);
}
.des{
    text-align: center;
    margin : 15px
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    
    
}

.l1{
    color: firebrick;
}

    


.cards:hover{
    box-shadow: 2px 2px 10px rgb(161, 157, 157);
}


.pro{
    width: 38%;
    font-weight: bold;
     margin-left: 40%;
     margin-top: 10%;
     margin-bottom: 20%;
     height: 10px;
     color: rgb(25,25,112);
}


.profile{
    float: left;
    margin-left:20px ;
    padding: 2px;
    margin-bottom: 20%;
}
.profile1{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    
    
}

.half-width1000{
    width: 30%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.service{
    width: 50%;
    
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width0001{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.single{
    box-shadow: 10px 10px 40px grey;
    border-radius: 5px;
    height:70% ;
    background-color: white;
    
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightsalmon,yellow);
    border-image-slice: 1;
}
#web-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,rgb(113, 113, 223),rgb(240, 104, 131));
    border-image-slice: 1;
}
.dream-area{
    margin-bottom: 20%;
}
.contactbox{
    margin-top: 140%;
    margin-bottom: 20%;
    
}
.link{
    text-decoration: none;
    background-image: linear-gradient(tomato,lightsalmon);
    
    border-radius: 5px;
    color: papayawhip;
    font-weight: 700;
    
    text-align: center;
}
.chatbox{
    
    height: 600px;
    text-align: end;
    background-image: url("images/Group_33094_1.png");
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}
